.menu {
  
}

.menu__btn {
  padding-left: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background-image: url(../img/icon-menu-ham.svg);
  background-repeat: no-repeat;
  background-size: 26px 21px;
  background-position: left center;
}
