.promo {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #fff;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  background-color: #fff;
  background-image: url(../img/bg-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  
  p {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.promo__title {
  margin-top: 70px;
  font-size: 30px;
  font-weight: 600;
}

.promo__link {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 37px;
  background-image: url(../img/icon-mouse.png);
  background-repeat: no-repeat;
  background-size: contain;
}
